#topHeader{
  font-family: 'oswald',sans-serif;
}

.font-oswald{
  font-family: 'oswald',sans-serif;
}

.button__call {
    background-color: transparent;
  }
  .button__call:hover {
    background-color: white;
  }
  .div__button{
    color: white;
    cursor: pointer;
  }
  .div__button:hover {
   color: orange;
  } 
  .div__button-black{
    cursor: pointer;
  }
  .div__button-black:hover {
   color: orange;
   text-decoration: underline;
  } 

.input__search::placeholder {
    color: white;
}
.button__style{
  font-family: 'oswald',sans-serif;
  border: none;
  background-color: #ff6b00;
  color: white;
}
.button__style:hover{
  background-color: #f32828;
}